.users{
    display: flex;
    flex-flow: row wrap;
    flex:1;
    margin-bottom: 10px;
}

.users .card{
    flex:1;
    margin: 10px;
    max-width: 200px;
    min-width: 200px;
    max-height: 70px;
    min-height: 70px;
}

.users a{
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}